<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.31/vue.global.min.js"></script>
  <style>
    .tab{
      float: right;
      height: 100px;
      width: 33.3%;
    }
    .clearfix:after{
      content: '';
      display: block;
      clear: both;
    }
    .current-tab{
      background-color: red;
      color: #fff;
    }
    .selectTab{
      cursor: pointer;
      user-select: none;
    }
  </style>
</head>
<body>
  <div id="mount"></div>
  <script>
    // 动态组件,切换默认是销毁重建的方式,不会缓存
    const Component01 = {
      template: '<div>我是组件一</div>',
    };
    const Component02 = {
      template: '<div>我是组件二</div>',
    };
    const Component03 = {
      data(){
        return {
          currentArticle: '',
          articles: [
            {id: 0, title:'step01', content: 'learn vue'},
            {id: 1, title:'step02', content: 'learn vue more'},
            {id: 2, title:'step03', content: 'more...'},
          ]
        }
      },
      template: `
        <ol>
          <li 
          v-for="(article, index) of articles" 
          :key="article.id"
          @click="currentArticle=article.content"
          :class="'selectTab'"
          >
            {{article.title}}
          </li>
        </ol>
        {{currentArticle}}
      `,
      created(){
        this.currentArticle = this.articles[0].content;
      }
    };
    const app = Vue.createApp({
      data(){
        return {
          currentTab: 'Home',
          tabs: ['Home', 'Shop', 'Community'],
        }
      },
      template: `
        <ol style="list-style:none;padding:0;margin:0;">
          <li 
          v-for="(tab, index) of tabs" 
          :key="index" 
          :class="['tab', {'current-tab': tab===currentTab}]"
          @click="currentTab = tab"
          >{{tab}}</li>
        </ol>
        <component :is="tabOnCurrentTab"></component>
      `,
      computed: {
        tabOnCurrentTab(){
          return "Component0" + (this.tabs.indexOf(this.currentTab) + 1);
        }
      },
      components: {
        Component01,
        Component02,
        Component03,
      }
    });
    app.mount("#mount");
  </script>
</body>
</html>